//Colors

$Grayish-blue: #8486a9;
$Soft-red: #fb6087;

$White: #ffffff;
$Dark-desaturated-blue: #343650;
$Very-dark-blue: #1e1f29;
$Very-dark-blue-ligth: #5f617a;
$Very-dark-black-blue: #191a24;

//fonts

$font-main: 'Red Hat Text', sans-serif;

